In [2]:
import pandas as pd

In [9]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)

# Adding a new column to an existing DataFrame object with column label by passing new series

print ("Adding a new column by passing as Series:")
df['three']=pd.Series([10,20,30],index=['a','b','c'])
print(df)

print ("Adding a new column using the existing columns in DataFrame:")
df['four']=df['one']+df['three']

print(df)

Adding a new column by passing as Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
Adding a new column using the existing columns in DataFrame:
   one  two  three  four
a  1.0    1   10.0  11.0
b  2.0    2   20.0  22.0
c  3.0    3   30.0  33.0
d  NaN    4    NaN   NaN

In [12]:
type(df.four)

pandas.core.series.Series

In [13]:
type(df['four'])

pandas.core.series.Series

In [16]:
df['five'] = df.four + 1
type(df.five)

pandas.core.series.Series

In [18]:
len(df.five)

4

In [19]:
len(df.four)

4

In [14]:
df.five = df.four + 1

C:\Users\Brian Catanzaro\AppData\Local\Temp\ipykernel_29996\3063300842.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.five = df.four + 1